*.exe
*.swn
*.pyc
*.swp
*.swo
*.idea/
*.logs/
.gitignore
week03/src/logs/
/home/bruce/PycharmProjects/tensorflow-learning/week01/src/imageProcess/ImageProcessing/datasets
/home/bruce/PycharmProjects/tensorflow-learning/week01/src/imageProcess/ImageProcessing/MNIST_data
week04/src/MNIST_data/
week06/src/fashion_mnist/
.DS_Store
week02/src/my_net/
MNIST_data/
fashion_mnist/
